.emailBox {
    position: relative;
    padding: 10px 0;
}

.emailBox form {
    padding: 50px;
    width: 50%;
    margin: 80px auto 0 auto;
    display: flex;
    border-radius: 25px;
    background: #fff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.emailBox form input{
    text-align: center;
    width: 50%;
}

.emailBox button:hover {
    color: red;
}

.emailBox form span {
    position: absolute;
    color: red;
    transform: translateX(-50%);
    top: 10px;
}

.emailBox .alert {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
}

