<div class="emailBox">

    <form [formGroup]="form" (submit)="sendResetEmail()" class="emailBox">
        <input [formControl]="emailController" type="email" class="form-control" name="email"  placeholder="Enter Your Email Account" >
        <span *ngIf="emailController.touched && emailController.errors?.required">This field is required !</span>
        <span *ngIf="emailController.errors?.pattern">Email not valid</span>
        <button mat-raised-button color="primary">Send</button>
        <button mat-raised-button color="primary" routerLink="/login">Back</button> 
    </form>

    <div class="alert alert-info alert2" *ngIf="msg">
      <strong>{{msg}}</strong>
    </div>

</div>
  
  
  
  
  
  
  
  
  
  
  
  