.loginBox {
    box-sizing: border-box;
    position: relative;
    top: 50%;
}

.loginBox h1 {
    font-family: Impact;
}
.loginBox div {
    padding: 20px;

}
.loginBox form {
    margin: auto;
    text-align: center;
}
.loginBox form  {
    width: 50%;
    display: block;
    padding: 20px;
    border-radius: 25px;
    background: #fff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);

}

.inputBox *{
    margin: auto;
    display: block;
}
.loginBox form .btnBox *{
    margin: 10px;
}

.loginBox .inputBox{
    position: relative;
}

.loginBox form span {
    position: absolute;
    color: red;
    font-family: 'Trebuchet MS';
    font-size: 16px;
    left: 50%;
    transform: translate(-50%, 10%);
}

.loginBox form {
    position: relative;
    padding: 50px;
}

.loginBox form button{
    margin: auto;
    text-align: center;
    height: 50px;
    width: 50%;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    border: 0;
}

.loginBox .alert {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 10px;
}