<div class="grid-container" *ngIf="Router.url !== '/store/order' && Router.url !== '/store/order/orderDetails'">
    <div class="item2">
        <img src="../../../../assets/logo/sys1.webp" alt="image">
    </div>
    <div class="item3" *ngIf='authService.loggedIn()'>
        <h1>You are wellcom in best online shop</h1>
        <div>
            We are very glad you chose our store and very happy to assist you,
            With us you can find the highest quality and best products ever
        </div>
        <div class="boxButton">
            <button>Hello</button>
        </div>
    </div>
  </div>