<div class="list">
   <div>
      <app-header></app-header>
   </div>
   <div>
      <app-image-header></app-image-header>
   </div>
   <div *ngIf='!products'>
      <h1>loading...</h1>
      <img src="../../../../assets//Capsule-Loading.svg" alt="loading">
   </div>
   <div>
      <app-product-card  *ngFor="let p of products ; index as i" [i]='i' [product]="p"></app-product-card>
   </div>
   <div class="footer">
      <div class="details">
         <p *ngIf="totalProducts > 0">
             We have {{totalProducts}} products available
         </p> 
         <p *ngIf="totalOrders === 1">
            We Have recently been performed {{totalOrders}} order
         </p>
         <p *ngIf="totalOrders > 1">
            We Have recently been performed {{totalOrders}} orders
         </p>
     </div>
   </div>
</div>
 
