.list {
  height: 100%;
  position: relative;
}


.list input{
    position: absolute;
    right: 110px;
    top: 41%;
}
.list{
  text-align: center;
}
.list div img {
    position: relative;
    width: 300px;
    height: 300px;
    transform: translateX(-50%);
}

.search2 {
  position: absolute;
  width: 100%;
  top: -50px;;
}

.search2 input {
  width: 200px;
  position: absolute;
  left: calc(50% - 100px);;

}

.a::placeholder {
  text-align: center;
  color: red
}

.list .footer {
  border: 0;
  border-radius: 0px 0px 20px 20px;
  max-width: 100%;
  background: #fff;
  box-shadow: 0 0 20px rgb(0 0 0 / 20%);
}


.list .footer .details {
  display: flex;
  justify-content: space-around;

}

.list .footer .details p {
  margin: 10px 0;
  background: #fff;
  font-weight: bold;

}