<div class="grid-container" *ngIf="Router.url !== '/store/order' && Router.url !== '/store/order/orderDetails'">
    <div class="image">
        <img src="../../../../assets/logo/sys1.webp" alt="image">
    </div>
    <div class="wraper">
        <div class="details">
            <div class="userName">
                <h2>Hello {{userName}} you are welcome</h2>
            </div>
            <div>
                <strong>
                    We are very glad you chose our store and very happy to assist you,
                    With us you can find the highest quality and best products ever
                </strong>
            </div>
        </div>
    </div>
</div>


